gcloud/
variables.tf

## === for dlt ===
.dlt/
config.toml
secrets.toml

venv
.DS_Store

# ===== for dbt =======
# you shouldn't commit these into source control
# these are the default directory names, adjust/add to fit your needs
target/
dbt_packages/
logs/

# legacy -- renamed to dbt_packages in v1
dbt_modules/

profiles.yml

testing_dlt_load.py
schema-copy.yml